<div class="clr-row">
    <div class="clr-col-lg-6 clr-col-sm-12 clr-col-12 clr-col-md-6">
        <form  clrForm name='mortgageForm' #mortgageForm="ngForm" (ngSubmit)='calculate()'>
        <div class="card">
            <div class="card-header">
              Payment Plan
            </div>
            <div class="card-block">
               
                   <app-calculator-form
                   [form]="mortgageForm"
                   [model]='model'
                   [years]='years'
                   [months]='months'>
                   </app-calculator-form>
                
            </div>
            <div class="card-footer">
              <button type='submit' class="btn btn-primary">Calculate</button>
              <clr-spinner [clrInline]="true" *ngIf='loading$ | async'>Loading ...</clr-spinner>
            </div>
          </div>
          </form>
    </div>

    <div class="clr-col-lg-6 clr-col-sm-12 clr-col-12 clr-col-md-6">
      
        <table class="table" *ngIf='summary'>
            <caption>
              Calculation Summary
            </caption>
            <thead>
              <tr>
                <th>Category</th>
                <th>Amortization Period</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Number of Payments</td>
                <td>{{summary?.totalNumberOfInstallments}}</td>
              </tr>
              <tr>
                <td>Principle Amount</td>
                <td>{{summary?.principal | currency}}</td>
              </tr>
              <tr>
                <td>Mortgage Payment (Monthly)</td>
                <td>{{summary?.monthlyPayment | currency}}</td>
              </tr>
              <tr>
                <td>Interest Payments</td>
                <td>{{summary?.interestPaid | currency}}</td>
              </tr>
              <tr>
                <td>Total Cost</td>
                <td>{{summary?.totalAmount | currency}}</td>
              </tr>
            </tbody>
          </table>
       
          <div class="clr-row">
            <div class="clr-col-lg-12 clr-col-sm-12 clr-col-12 clr-col-md-12">
                <app-mortgage-summary
                [summary]='summary'
                [model]='model'
                ></app-mortgage-summary>
            </div>
          </div>

    </div>
</div>
